.ballot_box_with_check:before {
  content: "\2611\ ";
}

.ballot_box:before {
  content: "\2610\ ";
}

h2, h3, h4 {
    margin-top: 40px;
}

p, li {
    font-size: 15px;
}

pre code {
    font-size: 11px;
}

ul.ballot {
    list-style: none;
}

#diagrams {
    list-style: none;
    display: block;
    padding: 0;
}
#diagrams img {
    width: 100%;
}
.bx-wrapper {
    position: relative;
}
.bx-prev,
.bx-next {
    display: block;
    position: absolute;
    z-index: 9999;
    top: 50%;
    margin-top: -16px;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    text-decoration: none !important;
    color: #fff !important;
    font-size: 24px;
    line-height: 32px !important;
    text-align: center;
    overflow: hidden;
    background: rgba(0,0,0,.2);
    box-sizing: border-box;
    padding: 0 !important;
}
.bx-prev:hover,
.bx-next:hover {
    background: rgba(0,0,0,.5);
}
.bx-prev {
    left: 0;
    padding-right: 4px;
}
.bx-next {
    right: 0;
    padding-left: 4px;
}
.cc {
    font-size: 0.6em;
}
.cc img {
    height: 22px;
    display: inline-block;
    text-align: left;
    vertical-align: bottom;
    margin: 0 10px 0 0;
    padding: 0;
}